<!doctype html>
{% load i18n %}

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{% block page_title %}{% trans "ParrishStreet" %}{% endblock %}</title>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    {% block css %}{% endblock %}
    
    <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.2.min.js"></script>
</head>

<body {% block body_class %}{% endblock %} {% block onload %}{% endblock %}>
{% block body %}
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div class="header">
	    <div class="navbar">
			<div class="navbar-inner">
			   <div class="container">
			   		<a class="brand" href="{% url home %}">
			   		PARRISHSTREET
			   		</a> 
			   		<ul class="nav">
			   			<li class="active">
			   				<a href=" {% url home %}">
			   					home
			   				</a>
			   			</li>
			   			<li>
			   			    <a href="{% url products %}">  
			   					products
			   				</a>
			   			</li>
			   			<li>
			   				<a href="{% url services %}">
			   					services
			   				</a>
			   			</li>
			   			<li>
			   				<a href="{% url firms %}">
			   					businesses
			   				</a>
			   			</li>
			   			<li>
			   				<a href="{% url events %}">
			   					events
			   				</a>
			   			</li>
			   		 </ul>
			   		 <ul class="nav pull-right">
			   		 	<li class="dropdown">
			   		 		{% url acct_login as login_url %}
			   		 		<a href="{{ login_url }}">
			   		 		account
			   		 		</a>
			   		 	</li>
			   		 </ul>
			   	   </div>
			 	</div>
			</div>

		
	<!-- Here begins the sub-navigation behavior -->
	<div class="subnav">
		{% block subnav %}			  
		{% endblock subnav %}
	</div>  
	<!-- Ends  -->	



	<div class="container">
		{% block content %}{% endblock content %}
    </div>    
    
    
    <!-- Here this division begins the global footer -->
    
   <footer id="homefooter" class="container">
    	<div id="links">
    		<div style="padding: 0 15px 0 15px;">
				<p class="left">Copyright &copy; 2012 <a href="#">Tulsa Applications Co.</a> All rights reserved.</p>						
				<ul class="piped right" style="margin: 0 0 3px 25px;">
					<li><a href="{% url about %}">About</a></li>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Feeds</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="">Terms of Use</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
    </footer>
    
   {# {% if debug %}{% include 'includes/debug.html' %}{% endif %} #}
    
    {% block javascript_library %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    {% endblock %}
    
    {% block javascript %}{% endblock %}
    
    <!-- # Todo Change Google Analytics ID -->
    <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; 
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    
{% endblock %}
</body>
</html>

