{% extends "site_base.html" %}

{% block subnav %}
{% endblock subnav %}

{% block content %}
	<div class="container">
		{% for firm in object_list %}
    		<div class="grid_2 connection-item alpha">
        		<img src="http://www.placehold.it/170x224"/>
        		<h5>{{ firm.firm_name }}</h5>
        		<p class="link">
        		{% if firm.value_proposition_html %}
            		{{ firm.value_proposition|safe }}
        		{% else %} 
            		{{ firm.firm_overview|truncatewords_html:"50"|safe }} 
        		<a href="{{ firm.get_absolute_url }}"
        		Discover {{ firm.firm_name }}
        		</a>
        		{% endif %}
        		</p>
    		</div>
		{% endfor %}
	</div>
{% endblock %}